main {
	height: 5%;
}

body {
  padding-top: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;

}
.mainPhoto {
	margin-top: 50px;
}

footer {
	position: relative;
	text-align: center;
	bottom: 0;
}

#accordion {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
